<h1>Listing questions</h1>

<table>
  <tr>
    <th>Questioncontent</th>
    <th>Category name</th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.questionContent %></td>
    <td><%= question.category.name %></td>
    <td><%= link_to 'Edit', edit_question_path(question), class: "btn btn-small" %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
