<p id="notice"><%= notice %></p>
<% content_for :project_details do %>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<% end %>
<% content_for :project_developer_detail  do%>
    <p>
      <b>Project Developer:</b>
      <%= @project.project_developer.name %>
    </p>
<% end %>

<% content_for :checklist_category  do%>
            <%@master_categories.each do |master_category| %>
                <li>
                   <a href="#<%= master_category.name%>"><%= master_category.name%></a>
                </li>
            <% end %>
<% end %>
<% content_for :project_checklist_user do %>
    <%@master_categories.each do |master_category|  %>
        <section id="<%= master_category.name%>">
           <div class="page-header">
              <h2><%= master_category.name %></h2>
              <%master_category.questions.each do |checklist_question|  %>
                  <p>
                      <%= simple_format(checklist_question.questionContent) %>
                      <%  unless checklist_question.question_labels.first.nil?%>
                             <span class="label <%= return_question_label(checklist_question)%>"><%= checklist_question.question_labels.first.name  %></span>
                      <% end %>
                  </p>
                 <% unless checklist_question.question_info.blank? %>
                      <div class="alert alert-error"><%=  highlight(checklist_question.question_info,checklist_question.question_info_emphasis)%></div>
                 <% end %>

                        <%= form_tag('/project_checklist_responses', method: :post, remote: true) do %>
                           <%= hidden_field_tag 'project_id', @project.id %>
                           <%= hidden_field_tag 'question_id', checklist_question.id %>

                            <%@answers_labels.each do |answer_label| %>
                                    <% if project_checklist_response_user_question(checklist_question.id) == @answers_labels.find_index(answer_label) %>
                                          <label class="radio inline"><%= radio_button_tag return_answer_id(checklist_question.id), @answers_labels.find_index(answer_label), true %><%= answer_label %></label>
                                    <% else %>
                                          <label class="radio inline"><%= radio_button_tag return_answer_id(checklist_question.id), @answers_labels.find_index(answer_label) %><%= answer_label %></label>
                                    <% end %>
                            <% end %>
                            <%= submit_tag 'Submit' %>
                        <% end %>
                         <a href="#" data-toggle="popover"    data-trigger="hover" data-content="Responses of members registered  for this project" data-original-title="A title">
                                <% (0..2).each do |response_code| %>
                                   <span style="font-size:20px;" class="text-error"><%= response_count_for_question(@project.id, checklist_question.id, response_code) %></span> said <%= @answers_labels[response_code] %>,&nbsp;
                                <% end %>
                         </a>
                        <hr>

               <% end %>
           </div>
        </section>
    <% end %>
<% end %>


