<p id="notice"><%= notice %></p>
<% content_for :project_details do %>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<% end %>

  <% content_for :project_developer_detail  do%>
      <p>
        <b>Project Developer:</b>
        <%= @project.project_developer.name %><br/>
        <%= @project.city.name%>
      </p>
  <% end %>

<% content_for :checklist_category  do%>
     <%@master_categories.each do |master_category| %>
        <li>
           <a href="#<%= master_category.name%>"><%= master_category.name%></a>
        </li>
     <% end %>
<% end %>
<% content_for :project_checklist_user do %>
      <%= render :partial => 'projects/partials/mastercategory', :collection => @master_categories %>
<% end %>


