<h1>Listing question_labels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_labels.each do |question_label| %>
  <tr>
    <td><%= question_label.name %></td>
    <td><%= question_label.status %></td>
    <td><%= link_to 'Show', question_label %></td>
    <td><%= link_to 'Edit', edit_question_label_path(question_label) %></td>
    <td><%= link_to 'Destroy', question_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question label', new_question_label_path %>
