<%= simple_form_for @category  do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= f.input :name %>
    <%= f.association :parentCategory, as: :radio_buttons, item_wrapper_class: 'inline' %>
    <%= f.button :submit %>
  </div>
<% end %>
