<!DOCTYPE html>
<html>
<head>
  <title>PropertyChecklist.in - A community checklist for buying property</title>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      (function() {
          if (typeof window.janrain !== 'object') window.janrain = {};
          if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};


          janrain.settings.tokenUrl ='<%= ENV["AUTHENTICATION_LOGIN_URL"] %>';
          function isReady() { janrain.ready = true; }
          if (document.addEventListener) {
              document.addEventListener("DOMContentLoaded", isReady, false);
          } else {
              window.attachEvent('onload', isReady);
          }

          var e = document.createElement('script');
          e.type = 'text/javascript';
          e.id = 'janrainAuthWidget';

          if (document.location.protocol === 'https:') {
              e.src = 'https://rpxnow.com/js/lib/mypropertychecklist-in/engage.js';
          } else {
              e.src = 'http://widget-cdn.rpxnow.com/js/lib/mypropertychecklist-in/engage.js';
          }

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(e, s);
      })();
   </script>
   <style type="text/css">
     body{
         padding-top: 40px;
     }
   </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PropertyChecklist.in", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if !session[:current_user_id].nil? %>
               <li> <%= link_to "Logout", {controller: "authentication", action: "logout" } %></li>
           <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="span8">
        <%= yield %>
      </div>
      <div class="span4">
        <% if session[:current_user_id].nil? %>
            <h4>Login</h4>
            <div id="janrainEngageEmbed"></div>
        <% end %>
      </div>
    </div>
</div>


</body>
</html>
