<!DOCTYPE html>
<html>
<head>
  <title>PropertyChecklist</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag params[:controller]%>
  <%= javascript_include_tag  params[:controller] %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <style type="text/css">
  body {
  padding-top: 40px;
  font-size: 16px;
  }
  .search_font a {
    font-size: 16px;
  }
  h2.features {
    color:#308CCF;
  }
  span.highlight {
      color: #FF0202;
  }
  #no_result_container {
    color: #FF0202;
  }
  .intro {
    font-size: 18px;
    line-height: 1.5;
  }
  .blue-class {
    color :#5697FA;
  }
  .list-font {
    font-size: 18px;
  }
  </style>
  <script type="text/javascript">
      $(document).ready(function() {
          var customRenderFunction = function(document_type, item) {
              $('#no_result_container').empty(); // clear the no results cntainer element if any
              var out = '<div class="st-result"><h3 class="title"><a href=" ' + item['ProjectUrl'] + ' " class="st-search-result-link">' + item['ProjectName'] + " by "+ item['ProjectDeveloper'] + " in " + item['ProjectCity']+ '</a>';
              return out
          };
          var myPreRenderFunction = function(data){
             $('#no_result_container').empty(); // clear the no results cntainer element if any
             if (data['info']['projects']['total_result_count'] === 0){
                 $('#no_result_container').prepend("<p>No projects found matching your search string</p>");
             }
          };
          $("#projectSearchField").swiftypeSearch({
              renderFunction: customRenderFunction,
              engineKey: 'xjvyNV8YyuiDWevYpMcN',
              resultContainingElement: '#projects-results-container',
              preRenderFunction: myPreRenderFunction
          });
      });
  </script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PropertyChecklist.in", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if !session[:current_user_id].nil? %>
              <li> <%= link_to "Logout", {controller: "authentication", action: "logout" } %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<!-- bounce html-->
<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h1>Hello, Everybody !</h1>
        <p class="intro">We all know that buying property  is an extremely complex process in India, <span class="highlight">with no transparency</span> at all.First time property buyers like you
          who don't have time and detailed knowledge are taken for a ride by builders/developers.<span class="blue-class">PropertyChecklist.in </span>seeks to provide the following services to you</p>
        <ul>
          <li><h5 class="list-font">A "must verify" checklist to check before buying property.&nbsp;<a href='<%= "#{root_url}projects/taj-mahal" %>'>(A Sample Checklist)</a></h5></li>
          <li><h5 class="list-font">the checklist is shared among all buyers for a particular property, so you know what "other buyers" are saying about the property</h5></li>
          <li><h5 class="list-font">Get to know other members who are buying the property, and collaborate with them, right from the start</h5></li>
          <li><h5 class="list-font">Can demand for your rights as a group, better collaborate among yourselves </h5></li>
        </ul>
        <h4>It is very important to  collaborate among yourselves as a group, to clarify all the details, so go ahead</h4>
      </div>

    </div>
  </div>
</div>
<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>Enter the name of the project you are interested about</h2>
        <%= yield :project_search %>
      </div>
      <div class="row">
        <div class="span3"></div>
        <div class="span7"> <%= yield :project_search_listing %> </div>
        <div class="span2"></div>
      </div>  
    </div>
    <div class="row">
      <div class="span12" id="no_result_container">
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2>Great features of your product or service</h2>
        <hr class="dashed">
      </div>
    </div>
    <div class="row">
      <div class="span4 bouncy">
        <h2 class="features">Comprehensive Checklist</h2>
        <p>PropertyChecklist.in gives you a comprehensive checklist of Dos' and Donts' to take care of before at time of buying a property, at a one single place. in a layman's language.</p>
      </div>
      <div class="span4 bouncy">
        <h2 class="features">Social Checklist</h2>
        <p>The checklist questions are Project-wise, so you can get a clear idea what other buyers are saying about the Project</p>
      </div>
      <div class="span4 bouncy">
        <h2 class="features">Group Chat</h2>
        <p>Collaborate with other buyers who are buying in to the same project.</p>
      </div>
    </div>
    <hr class="dashed">
    <div class="row">
      <div class="span4">
       <a class="thumbnail" href=""> 
        <%= image_tag("ChecklistImage1.png", size: "399x199")%>
       </a> 
        <p>A detailed checklist, <span class="highlight">where you can give responses, </span>so that later, the  checklist items that need your attention can be easily  verified. </p>
      </div>
      <div class="span4">
       <a class="thumbnail" href=""> 
        <%= image_tag("ChecklistImage2.png", size: "399x199") %>
       </a> 

        <p>Most importantly , <span class="highlight">find what others are saying about the checklist items</span> of the same project.</p>
      </div>
      <div class="span4">
        <a class="thumbnail" href="">
          <%= image_tag("ChecklistImage3.png", size: "400x200") %>
        </a>
        <p>Collaborate with <span class="highlight">others real-time </span>with group chat.</p>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h3>Quick Links</h3>
        <ul class="animated">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Company</h3>
        <ul class="animated">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>We're Social</h3>
        <ul class="animated">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Google &#43;</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Subscribe</h3>
        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
        <form>
          <input class="span3" type="text" placeholder="Your Email" name="subscribe">
          <button class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="copywrite">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>&copy; PropertyChecklist.in <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>