<!DOCTYPE html>
<html>
<head>
  <title>PropertyChecklist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      (function() {
          if (typeof window.janrain !== 'object') window.janrain = {};
          if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

          janrain.settings.tokenUrl ='<%= ENV["AUTHENTICATION_LOGIN_URL"] %>';

          function isReady() { janrain.ready = true; };
          if (document.addEventListener) {
              document.addEventListener("DOMContentLoaded", isReady, false);
          } else {
              window.attachEvent('onload', isReady);
          }

          var e = document.createElement('script');
          e.type = 'text/javascript';
          e.id = 'janrainAuthWidget';

          if (document.location.protocol === 'https:') {
              e.src = 'https://rpxnow.com/js/lib/mypropertychecklist-in/engage.js';
          } else {
              e.src = 'http://widget-cdn.rpxnow.com/js/lib/mypropertychecklist-in/engage.js';
          }

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(e, s);


      })();

  </script>

  <script type="text/javascript">

      $(document).ready(function(){
             $('input[type=submit]').css('display','none');
            $('input[type=radio]').click(function(){
              <% if session[:current_user_id].nil?  %>
                $("#modalLogin").modal('show');
              <% else %>
                this.parentElement.parentElement.parentElement.lastElementChild.click();
              <% end %>
            });

          $('input').iCheck({
              checkboxClass: 'icheckbox_flat-red',
              radioClass: 'iradio_flat-red'
          });

       });
      /*  for iCheck feature */

  </script>
</head>
<body >
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PropertyChecklist.in", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if !session[:current_user_id].nil? %>
              <li> <%= link_to "Logout", {controller: "authentication", action: "logout" } %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="span4">
     <div class="well well-large">
      <h4>Project Details</h4>
      <%= yield  :project_details %>
     </div>
    </div>
    <div class="span4">
     <div class="well well-large">
      <h4>Project Developer Details</h4>
      <%= yield  :project_developer_detail %>
     </div>
    </div>

  </div>
  <hr> <!-- the horizontal divider -->
  <div class="navbar navbar-static"  data-spy="affix-top"  id="checklist_category_navbar">
     <div class="navbar-inner">
        <div class="container" style="width: auto;">
           <ul class="nav">
             <%= yield :checklist_category %>
           </ul>
        </div>
     </div>
  </div>
  <div class="row" data-spy="scroll" data-target="#checklist_category_navbar" id="checklist_content">
    <div class="span9">
      <%= yield :project_checklist_user %>
    </div>
  </div>
</div>
<div id="modalLogin" class="modal hide fade">
  <div class="modal-header">
    <h5>Please login and then give your responses, otherwise they will <strong>NOT</strong>&nbsp;be saved</h5>
  </div>
   <div class="modal-body">
     <% if session[:current_user_id].nil? %>
         <div id="janrainEngageEmbed"></div>
     <% end %>
   </div>
   <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
   </div>
</div>

</body>
</html>
