<!DOCTYPE html>
<html>
<head>
  <title>PropertyChecklist</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      (function() {
          if (typeof window.janrain !== 'object') window.janrain = {};
          if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

          janrain.settings.tokenUrl ='<%= ENV["AUTHENTICATION_LOGIN_URL"] %>';

          function isReady() { janrain.ready = true; };
          if (document.addEventListener) {
              document.addEventListener("DOMContentLoaded", isReady, false);
          } else {
              window.attachEvent('onload', isReady);
          }

          var e = document.createElement('script');
          e.type = 'text/javascript';
          e.id = 'janrainAuthWidget';

          if (document.location.protocol === 'https:') {
              e.src = 'https://rpxnow.com/js/lib/mypropertychecklist-in/engage.js';
          } else {
              e.src = 'http://widget-cdn.rpxnow.com/js/lib/mypropertychecklist-in/engage.js';
          }

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(e, s);


      })();

  </script>

  <script type="text/javascript">

      $(document).ready(function(){
              //====for hiding the submit button of each form submit of a question
             $('input[type=submit]').css('display','none');

             //=====display modal login window or submit answer if user logged in
            $('input[type=radio]').click(function(){
              <% if session[:current_user_id].nil?  %>
                $("#modalLogin").modal('show');
              <% else %>
                this.parentElement.parentElement.parentElement.lastElementChild.click();
              <% end %>
            });

          //===display special radio buttons for answers of each question
          $('.radio > input').iCheck({
              checkboxClass: 'icheckbox_flat-red',
              radioClass: 'iradio_flat-red'
          });


           var dataRef =  new Firebase("<%= ENV['FIREBASE_DATA_URL']%>");

          var projectRef = dataRef.child('projects').child('<%= return_project_label_firebase(@project)%>');
                  projectRef.child('comments').on('child_added', function(snapshot){
                  var commentMetaData = snapshot.val();
                  var comment_content = commentMetaData.comment_content;
                  var user_name = commentMetaData.user_name;
                 var comment_time = commentMetaData.timestamp;
                 comment_time_moment = moment(comment_time, "YYYY-MM-DD HH:mm:ss");
                  var insert_text = "<li>"+"<span class='comment_style'>"+ comment_content +"</span>"+"<br/>"+"<span class='comment_by'>"+"by&nbsp;"
                  +user_name+ "</span>"+"&nbsp;&nbsp;" +"<span class='comment_by pull-right'>"+ comment_time_moment.fromNow() +"</span>"+ "</li><hr class='dashed my_hr'>";
                  $("#comments_list").prepend(insert_text);
                });

       <% unless session[:current_user_id].nil? %>
         //========================comment submit button click handler

          $("#comment_submit").click(function(){
            if (validate_comments()) {
            projectRef.child('comments').push({
              comment_content:$("#comment_text").val(),
              comment_type:$("input[type='radio'][name='contentType']:checked").val(),
              timestamp:moment().format("YYYY-MM-DD HH:mm:ss"),
              user_name:'<%= @user.displayName%>',
              user_identity_provider:'<%= @user.providerName%>',
              user_token:'<%= @user.identifier%>'
            });// end of push statement
           } else {
              $("#comment_submit").after('<div id="comment_validation">Comments must have text and Comment Category must be selected</div>');
            }
          });// end of event handler for comment submit button
        //==========================end of submit button handler
      <% end %>
          //====================for affixing the sub-nav bar
          $('#sub_nav').affix({
              offset: $('#sub_nav').position()
           });
          //===================== affix sub-nav bar
          function validate_comments(){
             $('#comment_validation').remove();
             var comment_text =  $("#comment_text").val() || "";
              var comment_type = $("input[type='radio'][name='contentType']:checked").val() || "";
              return comment_text.length > 0 && comment_type.length >0;
          }
       }); //end of document ready
  </script>
  <style type="text/css">
      #sub_nav.affix {
          position: fixed;
          top: 0;
          width: 100%
      }
      #checklist_content {
          height: 400px;
      }
      body {
          padding-top: 0px;
          font-weight:300;
          font-size: 16px;
      }
      .comment_by {
        font-size: 12px;
        font-weight: 100;
      }
      hr.my_hr {
        margin: 5px 0;
      }
      .comment_category {
        font-size: 12px;
      }
      .comment_style {
        color: #52A1F5;
        font-size: 14px;
        font-weight: 400;
      }
      #comment_validation{
        color:#FE0314;
      }
      .question {
        font-weight:600;
      }
      h2.section_header {
        color:#FE0314;
      }
  </style>
</head>
<body >
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PropertyChecklist.in", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if !session[:current_user_id].nil? %>
              <li> <%= link_to "Logout", {controller: "authentication", action: "logout" } %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="span4">
     <div class="well well-large">
      <h4>Project Details</h4>
      <%= yield  :project_details %>
     </div>
    </div>
    <div class="span4">
     <div class="well well-large">
      <h4>Project Developer Details</h4>
      <%= yield  :project_developer_detail %>
     </div>
    </div>

  </div>

  <div class="navbar" id="sub_nav">
         <div class="navbar-inner">
           <ul class="nav">
             <%= yield :checklist_category %>
           </ul>
         </div>
  </div>
  <div class="row " >
    <div class="span7">
      <%= yield :project_checklist_user %>
    </div>
    <div class="span5" id="project_comments">
    <div class="well">
       <ul id="comments_list">
       </ul>
       <hr class="thick">

           Comment:<input type="text" size="20" id="comment_text"><br>
           Comment Related To Section<br>
           <span class="comment_category">
           <input type="radio" name="contentType" value="Builder">Builder</input>
           <input type="radio" name="contentType" value="Project">Project</input>
           <input type="radio" name="contentType" value="Apartment">Apartment</input>
           <input type="radio" name="contentType" value="Project Documentation">Project Documentation</input>
           <input type="radio" name="contentType" value="Land Documentation">Land Documentation</input>
           <button type="submit" class="btn" id="comment_submit">Submit</button>
           </span>
    </div>
    </div>
  </div>

</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h3>Quick Links</h3>
        <ul class="animated">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Company</h3>
        <ul class="animated">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>We're Social</h3>
        <ul class="animated">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Google &#43;</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Subscribe</h3>
        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
        <form>
          <input class="span3" type="text" placeholder="Your Email" name="subscribe">
          <button class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="copywrite">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>&copy; PropertyChecklist.in <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>
      </div>
    </div>
  </div>
</div>
<div id="modalLogin" class="modal hide fade">
  <div class="modal-header">
    <h5>Please login and then give your responses, otherwise they will <strong>NOT</strong>&nbsp;be saved</h5>
  </div>
   <div class="modal-body">
     <% if session[:current_user_id].nil? %>
         <div id="janrainEngageEmbed"></div>
     <% end %>
   </div>
   <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
   </div>
</div>

</body>
</html>
